node_modules/

logs/

install/See3CAMx10-CL/camera-control

modules/**
!modules/Protolobe
!modules/Cortex.js
!modules/Neuron.js
!modules/RandomSineWave

test-suite/**
!test-suite/Cortex
!test-suite/Protolobe
!test-suite/RandomSineWave
!test-suite/Utilities
!test-suite/client-integration-test.js
!test-suite/primus.js
!test-suite/config_chai.js
!test-suite/html-client-integration.html

experiments/

ARCHIVES/

install/