node_modules/

logs/

install/See3CAMx10-CL/camera-control

modules/**
!modules/Protolobe/
!modules/Protolobe/Protolobe.js
!modules/Cortex.js
!modules/Neuron.js
!modules/RandomSineWave/
!modules/RandomSineWave/RandomSineWave.js

tests/**
!tests/Cortex
!tests/Protolobe
!tests/RandomSineWave
!tests/Utilities
!tests/client-integration-test.js
!tests/primus.js
!tests/config_chai.js
!tests/html-client-integration.html

experiments/

ARCHIVES/

install/
